<h1>It's a Me, Mario!</h1>
<img src="https://www.mariowiki.com/images/thumb/6/62/Mario_Paper.jpg/180px-Mario_Paper.jpg">


<h2> ABOUT ME</h2>
<h3>My Skills</h3>

<ul>
  <%@skills.each do |skill| %>
    <li> <%= skill %> <li>
  <% end %>
</ul>

<h2>Interests</h2>

<ul>
  <%@interests.each do |interest| %>
   <li> <%= interest %> </li>
  <% end %>
</ul>
